{
    "swagger": "2.0",
    "info": {
        "version": "0.1.0",
        "title": "TraxAir Test API"
    },
    "host": "api.trax-air.com",
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/track": {
            "get": {
                "description": "Gets the `Track` objects that you created.\n",
                "operationId": "getTrack",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "maximum number of results to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "title": "ArrayOfTracks",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Track"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new track.",
                "operationId": "addTrack",
                "parameters": [
                    {
                        "name": "track",
                        "in": "body",
                        "description": "Track to add",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Track"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Track creation was successful",
                        "schema": {
                            "$ref": "#/definitions/Track"
                        }
                    }
                }
            }
        },
        "/identify/tracklist/{identificationId}": {
            "get": {
                "description": "Compute a tracklist from an URL.",
                "operationId": "getTracklist",
                "parameters": [
                    {
                        "name": "identificationId",
                        "in": "path",
                        "description": "The id of the tracklist identification to retrieve",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful",
                        "schema": {
                            "$ref": "#/definitions/TracklistIdentification"
                        }
                    }
                }
            }
        },
        "/identify/tracklist/{identificationId}/rerun": {
            "post": {
                "description": "Rerun a track identification.",
                "operationId": "rerunTracklistIdentification",
                "parameters": [
                    {
                        "name": "identificationId",
                        "in": "path",
                        "description": "The id of the track identification to retrieve",
                        "type": "string"
                    },
                    {
                        "name": "rerunParams",
                        "in": "body",
                        "description": "Describes what parts of the file to rerun",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Track"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful",
                        "schema": {
                            "$ref": "#/definitions/RerunParams"
                        }
                    }
                }
            }
        },
        "/identify/tracklist/url": {
            "post": {
                "description": "Identify a track from an URL.",
                "operationId": "identifyTracklistUrl",
                "parameters": [
                    {
                        "name": "url",
                        "in": "formData",
                        "description": "URL to analyze",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Tracklist identification request creation was successful",
                        "schema": {
                            "$ref": "#/definitions/TracklistIdentification"
                        }
                    }
                }
            }
        },
        "/identify/tracklist/file": {
            "post": {
                "description": "Identify a tracklist from an uploaded file.",
                "operationId": "identifyTracklistFile",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "File to upload and analyze",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Tracklist identification request creation was successful",
                        "schema": {
                            "$ref": "#/definitions/TracklistIdentification"
                        }
                    }
                }
            }
        },
        "/identify/track/{identificationId}": {
            "get": {
                "description": "Compute a tracklist from an URL.",
                "operationId": "getTracklist",
                "parameters": [
                    {
                        "name": "identificationId",
                        "in": "path",
                        "description": "The id of the track identification to retrieve",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful",
                        "schema": {
                            "$ref": "#/definitions/TrackIdentification"
                        }
                    }
                }
            }
        },
        "/identify/track/{identificationId}/rerun": {
            "post": {
                "description": "Rerun a track identification.",
                "operationId": "rerunTrackIdentification",
                "parameters": [
                    {
                        "name": "identificationId",
                        "in": "path",
                        "description": "The id of the track identification to retrieve",
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful",
                        "schema": {
                            "$ref": "#/definitions/TrackIdentification"
                        }
                    }
                }
            }
        },
        "/identify/track/url": {
            "post": {
                "description": "Compute a tracklist from an URL.",
                "operationId": "addTrack",
                "parameters": [
                    {
                        "name": "url",
                        "in": "formData",
                        "description": "URL to analyze",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Track identification creation was successful",
                        "schema": {
                            "$ref": "#/definitions/Track"
                        }
                    }
                }
            }
        },
        "/identify/track/file": {
            "post": {
                "description": "Identify a track from an uploaded file.",
                "operationId": "identifyTrackFile",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "File to upload and analyze",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Trackl identification request creation was successful",
                        "schema": {
                            "$ref": "#/definitions/TrackIdentification"
                        }
                    }
                }
            }
        },
        "/me/callbacks": {
            "get": {
                "description": "Returns the callbacks that you set up.",
                "operationId": "myCallbacks",
                "responses": {
                    "200": {
                        "description": "Successful",
                        "schema": {
                            "$ref": "#/definitions/Callbacks"
                        }
                    }
                }
            },
            "put": {
                "description": "Update your callbacks",
                "parameters": [
                    {
                        "in": "formData",
                        "name": "callbackTrackIdentification",
                        "description": "Update callbackTrackIdentification",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "callbackTracklistIdentification",
                        "description": "Update callbackTracklistIdentification",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "callbackTrackTerritoryChange",
                        "description": "Update callbackTrackTerritoryChange",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successfully updated"
                    },
                    "405": {
                        "description": "Invalid input"
                    }
                }
            }
        }
    },
    "definitions": {
        "TracklistIdentification": {
            "title": "TracklistIdentification",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "readOnly": true
                },
                "tracklist": {
                    "$ref": "#/definitions/Tracklist"
                }
            }
        },
        "RerunParams": {
            "title": "RerunParams",
            "type": "array",
            "items": {
                "segment": {
                    "type": "object",
                    "properties": {
                        "start": {
                            "type": "int",
                            "min": 0
                        },
                        "end": {
                            "type": "int",
                            "min": 0
                        }
                    }
                }
            }
        },
        "Tracklist": {
            "title": "Tracklist",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "TrackIdentification": {
            "title": "TracklistIdentification",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "readOnly": true
                },
                "tracklist": {
                    "$ref": "#/definitions/Track"
                }
            }
        },
        "Track": {
            "title": "Track",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "readOnly": true
                },
                "ISRC": {
                    "type": "string",
                    "readOnly": true
                },
                "title": {
                    "type": "string"
                },
                "artist": {
                    "$ref": "#/definitions/Artist"
                }
            }
        },
        "Artist": {
            "title": "Artist",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "Callbacks": {
            "title": "Callbacks",
            "type": "object",
            "properties": {
                "callbackTrackIdentification": {
                    "type": "string"
                },
                "callbackTracklistIdentification": {
                    "type": "string"
                },
                "callbackTrackTerritoryChange": {
                    "type": "string"
                }
            }
        }
    }
}