# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "0.1.0"
  title: TraxAir Test API

host: api.trax-air.com

basePath: /v1

consumes: 
  - application/json

produces: 
  - application/json

# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /track:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Gets the `Track` objects that you created.
      # This is array of GET operation parameters:
      parameters:
        - name: limit
          in: query
          description: maximum number of results to return
          required: false
          type: integer
          format: int32
        
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ArrayOfTracks
            type: array
            items:
              $ref: '#/definitions/track'
    post:
      description: Creates a new track.
      operationId: addTrack
      parameters:
        - name: track
          in: body
          description: Track to add
          required: true
          schema:
            $ref: '#/definitions/track'
      responses:
        '201':
          description: Track creation was successful
          schema:
            $ref: '#/definitions/track'
      

definitions:
  track:
    title: Track
    type: object
    properties:
      id:
        type: string
        readOnly: true
      url:
        type: string
      title:
        type: string
      artist:
        $ref: '#/definitions/artist'
  artist:
    title: Artist
    type: object
    properties:
      id:
        type: string
      name:
        type: string
